button.large {
    width: 80%;
}

div.btns {
    text-align: center;
    margin: 15px;
}

div.ckbs {
    text-align: left;
    margin: 25px;
    margin-left: 10%;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin:0 auto;
}

td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    padding: 10px; 
    text-align: center;
    background-color: #ffffff;
    border-bottom: 1px solid #555;
}

tr:hover {
    background-color: #f5f5f5;
}

tr.selected {
    color: #fff;
    background-color: #4A90D9;
}

input.edit {
    width: 100%;
    box-sizing: border-box;
}
